html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
   

  }
  
  #tasks {
    text-transform: uppercase;
  }

  

  #heading {
    background-color: #A683E3;
    text-align: center;
  }

  .top {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   
  }

  .headingtext{
   
    color: #A683E3;
    font-weight: 1500;
    padding: 0px 784px;
  
  }
  
  .item {
    min-height: 70px;
    max-width: 400px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    box-sizing: border-box;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: auto;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    overflow: auto;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  #add{
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  #del{
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    margin-right: 12px;

  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
    box-sizing: border-box;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bolder;
  }
  
  